<a href="/user">
    <button><@spring.message 'button.backToReferenceList'/></button>
</a>
<table>
    <tr>
        <th><@spring.message 'reference.shortReference'/></th>
        <td>
            <a href="/reference/${reference.shortReference}">${reference.shortReference}</a>
        </td>
    </tr>
    <tr>
        <th><@spring.message 'reference.target'/></th>
        <td>${reference.redirectReference}</td>
    </tr>
    <tr>
        <th><@spring.message 'reference.creationDate'/> / <@spring.message 'reference.expirationDate'/></th>
        <td>${reference.creationDate?datetime.iso?string("dd-MM-yyyy")} /
            <#if reference.isExpired = true>
                <label style="color: red">
                    ${reference.expirationDate?datetime.iso?string("dd-MM-yyyy")}
                </label>
            <#else>
                ${reference.expirationDate?datetime.iso?string("dd-MM-yyyy")}
            </#if>
        </td>
    </tr>
    <tr>
        <th><@spring.message 'reference.requests'/> (<@spring.message 'reference.redirected'/>)</th>
        <td>${reference.requestCount} (${reference.redirectCount})</td>
    </tr>
    <tr>
        <th><@spring.message 'reference.state'/></th>
        <td <#if reference.state == "NOT_ACTIVE">style="color: red"</#if> >${reference.state}</td>
    </tr>
</table>
<table>
    <tr>
        <td style="width: 15%">
            <form action="/user/delete" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                <input type="hidden" name="reference" value="${reference.shortReference}">
                <input type="submit" value="<@spring.message 'reference.delete'/>">
            </form>
        </td>
        <td>
            <#if reference.isExpired = false>
                <form action="/user/changestate" method="post">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                    <input type="hidden" name="reference" value="${reference.shortReference}">
                    <input type="submit" value="<@spring.message 'reference.changeState'/>">
                </form>
            </#if>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<h3><@spring.message 'reference.requests'/></h3>
<table>
    <tr>
        <th><@spring.message 'reference.creationDate'/></th>
        <th><@spring.message 'request.address'/></th>
        <th><@spring.message 'request.port'/></th>
        <th><@spring.message 'request.userAgent'/></th>
<#--        <th><@spring.message 'request.host'/></th>-->
        <th><@spring.message 'reference.redirected'/></th>
        <th><@spring.message 'cookies'/></th>
        <th><@spring.message 'request.country'/></th>
        <th><@spring.message 'request.city'/></th>
        <th><@spring.message 'request.temperature'/></th>
    </tr>
    <#list requests as request>
        <tr>
            <td>${request.creationDate?datetime.iso?string("dd-MM-yyyy, HH:mm")}</td>
            <td>${request.address}</td>
            <td>${request.port}</td>
            <td>${request.userAgent}</td>
<#--            <td>${request.host}</td>-->
            <td>
                <#if request.wasRedirected = false>
                    <label style="color: red">
                        false
                    </label>
                <#else>
                    true
                </#if>
            </td>
            <td>
                <form action="/user/cookies" method="post">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                    <input type="hidden" name="request" value="${request.id}">
                    <input type="hidden" name="reference" value="${reference.shortReference}">
                    <input type="submit" value="${request.cookieCount}">
                </form>
            </td>
            <td>
                <#if request.country??>${request.country}</#if>
            </td>
            <td>
                <#if request.city??>${request.city}</#if>
            </td>
            <td>
                <#if request.temperature??>${request.temperature}</#if>
            </td>
        </tr>
    </#list>
</table>
