<#include "standardPage.ftlh" />
<@standardPage langLink="/main">
    <form action="main/create" method="post" style="text-align: center">
        <#if error??>
            <label style="color: red; text-align: center">${error}</label><br>
        </#if>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
        <input type="url" name="url" placeholder="<@spring.message 'main.textField.URL'/>">
        <br>
        <label><@spring.message 'main.period'/></label>
            <select size="1" name="freePeriod">
                <#if maxfreeperiod??>
                    <#assign days = maxfreeperiod>
                <#else>
                    <#assign days = 5>
                </#if>
                <#list days..1 as day>
                    <option value="${day}">${day}</option>
                </#list>
            </select>
        <br>
        <input type="submit" value="<@spring.message 'button.createReference'/>">
    </form>
<div id="weather">
    <img id="Yandex_logo" src="img/Yandex_logo.svg"><br>
    <span id="weatherText"></span><br>
    <button id="button" onclick="weather()" >С чего вдруг?</button>
    <div id="map"></div>
</div>
</@standardPage>
